@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  background-color: theme('colors.background');
  color: theme('colors.textPrimary');
  font-family: theme('fontFamily.sans');
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e5e7eb; /* Light gray */
}
::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Slightly darker gray */
  border-radius: 4px;
}
